@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form method="POST">
        <input asp-for="Username" />
        <input asp-for="Password" />
        <input type="submit" value="login" />
    </form>
</div>
